.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.logoWrapper {
    display: inline-block;
}

.logo{
    max-width: 150px;
    margin-bottom: -50px;
}