.mainRenderArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-bottom: 5px;
    width: 95%;
    background-color: white;
    border: 4px solid #73C7E8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.contentWrapper {
    min-width: 100%;
    margin-top: 15px;
}
.searchFormWrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navBtnWrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 0px;
    align-items: baseline;
    flex-wrap: wrap;
}

/* .navLink:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
} */
.navLink {
    padding: 5px;
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
 
}

.tickerDisplay {
    min-width: 50px;
    border-radius: 2px;
    margin-bottom: 0px;
    font-weight: bolder;
    color: black;
    border: 1px solid grey;
    background-color: white;
    padding: 5px;
}

@media only screen and (min-width: 800px) {
    .mainRenderArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
}