.overviewWrapper{
    width: 90%;
    height: 100%;
    background-color: white;
    border-bottom: 2px solid #73C7E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.header{
    width: 80%;
    border-bottom: 2px solid #73C7E8;
}
.tradeInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    font-weight: 500;
    margin: 0;
    justify-content: space-around;
}
.tradeInfo p {
    margin: 0;
    border-left: 1px solid black;
    padding-left: 15px;
}

.descArea {
    padding: 10px;
}
.desc{
    max-height: 40vh;
    overflow-y: scroll;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    font-weight: 450;
}


.ind {
    font-weight: 450;
}

.numsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5px;
}

.nums1 {
    font-weight: 500;
}
.nums2 {
    font-weight: 500;
}