.searchForm {
    background-color: #73C7E8;
    display: flex;
    border: 1px solid black;
    border-radius: 3px;
    justify-content: flex-end;
    padding: 5px;
    max-width: 400px;
    margin-top: 15px;
}
